.section {
  width: 100vw;
  height: 100vh;
}

.background-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  margin-top: -69px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  text-align: center;
}

.text-block {
  margin-bottom: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.link-block {
  margin-right: 20px;
  margin-left: 20px;
}